.google{
    padding-left: 33%;

}
.container{
    width: 1000px;
    margin: auto;
}
.content-1{
    width: 100%;
    height: auto;
    background-color: rgb(245, 239, 233);
    text-align: center;
}
.content-2{
    background-color: black;
    text-align: center;
    height: auto;
    padding-left: 2px;
}
a{
    color:blue;
}
.card{
    background: linear-gradient(90deg,rgba(111, 179, 179, 0.6),rgba(19, 162, 167, 0.6));
    margin-top: 3px;
    margin-right: 4px;
    height: 80px;
    float: left;
    background-color:aqua;
    
}
.card-1{
    width: 40%;
    font-size: 20px;
    padding-top: 10px;
    
}
.card-2{
    width: 20%;
    font-size: 14px;
    padding-top: 10px;
}
.card-3{
    width: 38.80%;
    padding-top: 10px;
}
.clear{
    clear: both;
}
.footer{
    padding-top:20px ;
    text-align: center;
}